body{
    margin: 0;
    background-color: burlywood;
}
#inici{
    margin: 0;
    padding: 70px;
    background-image: url("https://images.unsplash.com/photo-1500285426772-410d8f2243d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}
#main {
    padding: 70px;
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1500285426772-410d8f2243d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

}

ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid black;
    border-style: double;
    background-color: bisque;
}

ul{
    background-color: blanchedalmond;
}
#fin{
    background-color: blanchedalmond;
}
h1{
    background-color: burlywood;
}
h2{
    background-color: burlywood;
}
h3{
    background-color: burlywood;
}
h4{
    background-color: burlywood;
}
#tortuga{
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
    border: solid black;

}
#lutra{
    background-image: url("https://images.unsplash.com/photo-1468221296755-1c53a9dbcd54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    border: solid black;

}
#murc{
    background-image: url("https://images.unsplash.com/photo-1560403442-d141ff60800d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    border: solid black;

}
#fotos{
    background-image: url("https://images.unsplash.com/photo-1500285426772-410d8f2243d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: contain;
    background-repeat: repeat;
}
@media(max-width: 1000px) {
    #fotos{
        display: flex;
        flex-direction: column;
    }
}